version: "3.9"

services:
  apex-stealer:
    build: ./downloader_site
    container_name: apex-stealer
    restart: unless-stopped
    volumes:
      - /opt/stacks/apex-stealer/config.json:/app/config.json
      - /opt/stacks/apex-stealer/setups:/app/setups
    networks:
      - apex-network

  caddy:
    build: ./caddy
    container_name: apex-caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - ACME_AGREE=true
    volumes:
      - /opt/stacks/caddy_webdav/Caddyfile:/etc/caddy/Caddyfile
      # Map the data folder
      - /opt/stacks/apex-stealer/setups:/opt/setups:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - apex-network

volumes:
  caddy_data:
  caddy_config:

networks:
  apex-network:
    driver: bridge