version: "3.9"

services:
  setup-hub:
    image: drakkan/sftpgo:latest
    container_name: setup-hub
    restart: unless-stopped
    networks:
      - setups-network
    environment:
      - SFTPGO_WEBDAVD__BINDINGS__0__PORT=8090
      - SFTPGO_WEBDAVD__ENABLED=true
      - SFTPGO_HTTPD__BIND_PORT=8080
      - SFTPGO_DATA_PROVIDER__DRIVER=sqlite
      - SFTPGO_DATA_PROVIDER__NAME=/var/lib/sftpgo/sftpgo.db
    volumes:
      - /opt/stacks/setup-hub/data:/var/lib/sftpgo
      - /opt/stacks/setup-downloader/setups:/srv/setups/apex:ro

  setup-downloader:
    image: ghcr.io/michelgerding/setup-downloader:latest
    container_name: setup-downloader
    restart: unless-stopped
    networks:
      - setups-network
    environment:
      - AUTH_URL=https://auth.apexracinguk.com/auth/refresh-token
      - SIMDATA_URL=https://simdata.apexracinguk.com/get-all-metadata
      - DATAPACKS_URL=https://member.apexracinguk.com/member/get-datapack-files
      - MEMBER_URL=https://member.apexracinguk.com/member
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=admin
      - REFRESH_TOKEN=AMf-vBxLoG71LRqs8960hArb7KXUF0ofLsDgtdCc4G5uwNZxWRWhyOzXMjijIbqKMnYiwBvxZl26xxL7lhkJoiheA7MjkVEuxk-MtYqlWeM9YVH73Kcseo2LvzyHlYYc3WeD7gzbiVFjC5IATIks_6geSJrFJuH765GN4e3scBzUzR-sZ1A43xQvpzJYGrc_KlU_O8oW1NTRwER7IHbAMKVrfWzeRdg_ZNqlRErdLjpE6bMPcLIRefzO4ZMrtFxnQbTu7nWgvagYxWawmRL4CTNeH1DDNa3YV6FDRU1yji2J_eNOjajL7EKDopTUeJGdEwU0A8b63btCq-ABDn-VZPSZSp0VaB6FcZ1PYQB3k0l2NtUVvvzZI_t3la1zE9WllkDPpf1EyuA9nuLN4Ip6cB_abnWRG26PKaG5q-8zl5FeJpXOEvGDVgqfdMf4oIbxxjQowSAMZSz6

    volumes:
      - /opt/stacks/setup-downloader/setups:/app/setups

  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: unless-stopped
    networks:
      - setups-network
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /opt/stacks/caddy/Caddyfile:/etc/caddy/Caddyfile
      - /opt/stacks/caddy/data:/data
      - /opt/stacks/caddy/config:/config

networks:
  setups-network:
    driver: bridge