admin-setups.michel-gerding.nl {
    handle /admin* {
        reverse_proxy setup-downloader:3000
    }

    handle {
        reverse_proxy copyparty:8080
    }
}

setups.michel-gerding.nl {
    reverse_proxy copyparty:8080
}